<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="modal-body" name="createForm">
  <div class="form-group">
    <label for="usernameInput">Name</label>
    <input type="text" [(ngModel)]="username" class="form-control" name="username" id="usernameInput" placeholder="John">
  </div>
  <div class="form-group">
    <label for="MessageArea">{{type}}</label>
    <textarea class="form-control" [(ngModel)]="text" name="text-message" id="MessageArea" rows="3"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="submitForm()">Create</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div>
</form>
