<div class="container">
    <div class="row">
      <button type="button" class="btn formModalBtn btn-primary" (click)="openModal(0, true)">New Message</button>
    </div>
      <div *ngFor="let timeline of timelineData" class="qa-message-list" id="wallmessages">
        <div class="message-item" id="m16">
          <div class="message-inner">
            <div class="message-head clearfix">
              <div class="user-detail">
                <h5 class="handle">{{timeline.username}}</h5>
              </div>
            </div>
            <div class="qa-message-content">
              {{timeline.post}}
            </div>
            <accordion>
              <accordion-group heading="Comments">
                <button type="button" class="btn formModalBtn btn-primary" (click)="openModal(timeline.id, false)">New Comment</button>
                <div *ngFor="let comment of timeline.comments" class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h6 class="card-title">Comment by: {{comment.username}}</h6>
                    <p class="card-text">{{comment.comment}}</p>
                  </div>
                </div>
              </accordion-group>
            </accordion>
          </div></div>
      </div>
  </div>
